.filter {
    border : 3px solid black;
    border-radius: 3px;
    background-color: white;
}

.filter button{
    font-size : 25px;
    background : none;
    text-align: center;
    border : none;
}

.hidden_select {
    padding-top : 5px;
}

.filter_checkbox {
    font-size : 20px;
    padding-bottom: 2px;
}

.filter i:hover {
    color : green;
}

.filter i:active{
    color : black;
}

input[type="checkbox"] {
    width : 15px;
    height : 15px;
}