#filter {
    border-radius: 20px;
    float : right;
    margin-left: auto;
}

#filter button{
    font-size : 20px;
    background : none;
    text-align: center;
    border : none;
}


.hidden_select {
    padding-top : 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow:  10px 10px 20px #9a9a9a,
    -10px -10px 20px #ffffff;

    animation-name: head_slide;
    animation-duration: 0.5s;
}

.filter_checkbox {
    font-size : 18px;
    padding-bottom: 2px;
    padding-left: 20px;
    font-weight: 900;
    
}

label {
    font-weight : 100;
    margin-right: 5px;
}

#filter i:hover {
    color : green;
}

#filter i:active{
    color : black;
}

input[type="checkbox"] {
    width : 15px;
    height : 15px;
    display: none;
}

.filter_checkbox label:hover {
    background-color: rgb(209, 207, 207);
}

.filter_checkbox label {
    border-radius: 5px;
}

/*만약 클릭시 background color를 설정해줌*/
.filter_selected {
    background-color: rgb(209, 207, 207);
}