


.introduce {
    /* border-radius: 3px;
    animation-name: menu_slide;
    animation-duration : 4s; */
}


.food {
    height : 200px;
    display:flex;
    margin-bottom: 25px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:  10px 10px 20px #7b7b7b,
    -10px -10px 20px #ffffff;
    z-index: 1;
}

.food_intro{
    width : 400px;
    margin-left: 20px;
}


.store_name {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 35px;
}

.store_sub{
    font-size : 22px;
    font-weight: 500;
    height : 50px;
    font-family: 'Gamja Flower', cursive;
}

.hashtag {
    width:300px;
    font-size: 20px;
    height : 25px;
    margin-top : 35px;
    font-family: 'Gamja Flower', cursive;
}

.tags{
    margin-left: auto;
    text-align: center;
}


.location {
    width : 160px;
    height : 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-right: 10px;
    margin-top : 150px;
    background-color: rgba(228, 225, 225, 0.897);
    border-radius: 100px;
    display : block;
}

.location a {
    color : black;
    display : block;
}

.location:hover {
    background-color: rgba(209, 208, 208, 0.801);
}